nav {
  background-color: #333;
  padding: 20px;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}

nav a {
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

nav li {
  display: inline-block;
  background-color: #333;
  width: 100px;
  text-align: center;
}

#toggle {
  display: none;
}

@media screen and (max-width:768px) {
  nav li {
    display: block;
    width: 100%;
    text-align: left;
  }

  #toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
  }
}
